:root {
    --black: #25282B;
    --gray60: #52575C;
    --gray50: #A0A4A8;
    --gray40: #CACCCF;
    --gray30: #DBDDE0;
    --gray20: #E8E8E8;
    --gray10: #F9F9FA;
    --white: #FFFFFF;

    --green: #4DBD33;
    --red: #B3210D;
    --yellow: #FDB813;
}