._room {
    flex-grow: 1;
    width: 100%;
    background-color: var(--black);
}

._room .wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: 1000px;
}

._room .players {
    flex: 30%;
}

._room .board {
    flex: 70%;
}

@media (max-width: 1000px) {
    ._room .wrapper{
        width: 100%;
    }
}

@media (max-width: 600px) {
    ._room .wrapper {
        flex-direction: column;
    }
}